*{
    border: 1px solid blue;
    font-family: arial;
    color: #660066
}

html {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    width: 60%;
    margin: auto;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #777;
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    width: 80px;
}

.zaszlo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#kozep {
    margin-left: 25px;
    margin-right: 25px;
}
#bal{
    float: left;
}
#jobb {
    float: right;
}
.felkialto {
    /*Clear fix tulajdonság*/
    
}
.tartalom {
    clear: both;
}
h1 {
    text-align: center;
    font-size: 3em;
}